:root {
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Playfair Display", serif;
}

body {
  font-family: var(--primary-font);
}

.about-section h1 {
  font-size: 64px;
  font-family: var(--secondary-font);
  font-weight: 700;
}

.about-section h2 {
  font-size: 18px;
  font-weight: 700;
}

.about-section p {
  font-size: 16px;
  font-weight: 400;
}

.about-section img {
  border-radius: 16px;
  padding: 16px 9px;
}

.about-section a {
  font-size: 18px;
  font-weight: 500;
  padding: 18px 46px;
  margin-top: 20px;
  border-radius: 4px;
  background-color: #6c63ff;
  transition: 150ms ease-in-out;
}

.about-section a:hover {
  color: #6c63ff;
  border-color: #6c63ff;
  background-color: #f9f7fe;
}
