:root {
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Playfair Display", serif;
}

body {
  font-family: var(--primary-font);
}

.about-section h1 {
  font-size: 64px;
  font-family: var(--secondary-font);
  font-weight: 700;
}

.about-section h2 {
  font-size: 18px;
  font-weight: 700;
}

.about-section p {
  font-size: 16px;
  font-weight: 400;
}

.about-section img {
  border-radius: 4px;
  display: block;
  padding: 16px 9px;
}
