:root {
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Playfair Display", serif;
}

body {
  font-family: var(--primary-font);
}

h1,
h2,
h3 {
  font-family: var(--secondary-font);
}

.hero h2 {
  font-size: 36px;
  font-weight: 700;
}

.hero h1 {
  font-size: 96px;
  font-weight: 700;
  margin-top: 0;
}

.hero p {
  font-size: 24px;
  font-weight: 400;
  margin: 24px auto;
}

.hero a {
  font-size: 18px;
  font-weight: 500;
  padding: 18px 46px;
  margin-top: 20px;
  border-radius: 4px;
  background-color: #6c63ff;
  transition: 150ms ease-in-out;
}

.hero a:hover {
  color: #6c63ff;
  border-color: #6c63ff;
  background-color: #f9f7fe;
}

.hero {
  /* padding: 276px 0 271px 0; */
  padding: 160px 20px;
  text-align: center;
  background-color: #f9f7fe;
}

.container h2 {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 40px;
  margin-top: 95px;
}

.container p {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 40px;
  color: #272142b2;
}

.container a {
  color: #6c63ff;
  border-color: #6c63ff;
  border-radius: 4px;
  background-color: #f9f7fe;
  padding: 18px 25px;
  transition: 150ms ease-in-out;
}

.container a:hover {
  border-radius: 4px;
  background-color: #6c63ff;
}

.homepage-paragraph {
  margin: 120px 0 80px 0;
}

.container .row {
  margin-bottom: 70px;
}
/* media query */
@media (max-width: 988px) {
  .hero {
    padding: 100px 0;
  }

  .hero h1 {
    font-size: 70px;
  }

  .homepage-paragraph {
    margin: 50px 0 0 0;
  }
  .homepage h2 {
    font-size: 55px;
  }

  .app-info {
    padding-left: 15px !important;
    text-align: center;
  }
  img {
    display: none;
  }
}
